body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
}

.container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    background: linear-gradient(to bottom, #33ccff, #ff99cc);
}

.login-signup {
    position: relative;
    height: 400px;
}

.login, .signup {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px;
    transition: opacity 1s, transform 1s;
    background: linear-gradient(to bottom, #ccff99, #ffff99);
}

.login {
    opacity: 1;
    transform: translateY(0);
}

.signup {
    opacity: 0;
    transform: translateY(-100%);
}

.toggle-button {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.toggle-button button {
    width: 45%;
    padding: 10px;
    border: none;
    border-radius: 5px;
    background-color: #4CAF50;
    color: #fff;
    cursor: pointer;
    background: linear-gradient(to bottom, #0099cc, #66cc00);
}

.toggle-button button:hover {
    background: linear-gradient(to bottom, #0099cc, #ffcc00);
}

.toggle-button button.active {
    background: linear-gradient(to bottom, #66cc00, #0099cc);
}

.login h2, .signup h2 {
    color: #0099cc;
}

.login button, .signup button {
    background: linear-gradient(to bottom, #0099cc, #66cc00);
}

.login button:hover, .signup button:hover {
    background: linear-gradient(to bottom, #0099cc, #ffcc00);
}
